header {
    background-color: #244751;
    color: #E8FDFF;
}

body {
    background-color: whitesmoke;
    font-family: 'Atomic Age', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 72px;
}

.finstagram-post .user-info img {
    border-radius: 25%;
}

.comments {
    font-family: 'Roboto', sans-serif;
}

a.photo{
    transition: padding 0.5s;
}
a.photo:hover{
    padding: 10px;
}