<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <header>
            <nav><!-- Navigation Pane -->
                <ul>
                    <li>Home</li>
                    <li>Archive</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </nav>
            <div> <!-- header of the site -->
                <h1>Pandemic Parlor</h1>
                <p>Your one stop shop for all the latest work-from-home hacks</p>
            </div>
        </header>
        <main role="main">
            <article> <!-- any information that can stand on its own and still make sense -->
                <h2>Title of Article</h2>
                <h3>Author Name<h2>
                <h4>Date and Time</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque velit et velit vulputate, maximus sollicitudin risus convallis. Vivamus nec ante lectus. Nullam volutpat nisi neque, sit amet varius libero blandit sit amet. Nulla quis lorem ut quam scelerisque fringilla. Sed condimentum mauris sed lorem iaculis dignissim. Maecenas fermentum eros dui, vitae scelerisque nisi lobortis vel. Etiam consectetur metus in massa mattis fermentum. Nunc condimentum lorem in tellus interdum aliquet. Quisque semper justo et metus viverra, eu elementum mi tincidunt.
                </p>
            </article>
            <span> I'm a Span </span>
            <span> I'm a Span too</span>
        </main>
    </body>
</html>